<?xml version="1.0" encoding="utf-8"?>
<Media Key="802e9cd2-6a24-476a-98e5-17904145bdfb" Alias="forrest_trees.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/forrest_treesjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T14:19:54</CreateDate>
    <NodeName Default="forrest_trees.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lvlgqnsn/forrest_trees.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>