<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8e719cc-7c65-48c7-9394-9df7768d545b" Alias="MilkyWay.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MilkyWayjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T18:46:03</CreateDate>
    <NodeName Default="MilkyWay.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ipjlchqm/milkyway.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>