<?xml version="1.0" encoding="utf-8"?>
<Media Key="18d48791-6559-4ffe-9fab-2789c2b78fe3" Alias="Space.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Spacejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T14:18:43</CreateDate>
    <NodeName Default="Space.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dzgjflrq/space.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>