<?xml version="1.0" encoding="utf-8"?>
<Media Key="17c4a531-5b29-4770-959e-ab36bf5b0cde" Alias="spiderman1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/spiderman1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T18:18:43</CreateDate>
    <NodeName Default="spiderman1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xzxjfika/spiderman1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>