<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1535c1a-8c1f-4ea7-a2c8-a714dbd50004" Alias="vato.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/vatojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T18:33:32</CreateDate>
    <NodeName Default="vato.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/swlbkf1w/vato.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>