<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbe34f4c-e18c-4b13-be09-609e373ae5f8" Alias="vato.jpg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/vatojpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-26T18:34:25</CreateDate>
    <NodeName Default="vato.jpg (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yoclktpf/vato.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>