<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d7d4763-9fe0-422c-addf-5f7e29444746" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9ecb3142-200a-4607-9901-de2dd802aaba">seo</Composition>
    </Compositions>
    <DefaultTemplate>search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ec06d659-c27a-4e2f-a074-9242636ad52e">search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>