<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0e2b22df-9a0e-45a7-8555-a785d43ecd00" Alias="sitemap" Level="1">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-bug</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d5fbfc86-d760-40d2-a6b4-f45c3fad475a">sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>