<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="179a415e-7225-49ff-ac6b-a9256f4439fe" Alias="slideshowBlock" Level="2">
  <Info>
    <Name>Slideshow Block</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="887bdbe8-6801-4c30-b9f6-a21884c9c799" SortOrder="0">slideshowContainer</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>510e9611-fb92-4038-a33b-6b83cc8e3ccf</Key>
      <Name>Slide picker</Name>
      <Alias>slidePicker</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="slideshow">Slideshow</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d994b991-08be-4e24-953a-f5a7384aee0a</Key>
      <Caption>Slideshow</Caption>
      <Alias>slideshow</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>