<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb29b387-0409-4677-8623-57d8e6246837" Alias="start" Level="1">
  <Info>
    <Name>Start</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="333b491f-da36-4fc0-9fbd-4581e9b5bce8">metadata</Composition>
      <Composition Key="9ecb3142-200a-4607-9901-de2dd802aaba">seo</Composition>
      <Composition Key="3b9bab4e-fbd3-49a1-818f-c8c2af19ada7">slideshow</Composition>
    </Compositions>
    <DefaultTemplate>start</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c3910226-78fb-449d-a281-497ef7de31aa">start</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="23516fdd-a0d1-482f-98ab-9ebdc9e97b0d" SortOrder="0">settings</ContentType>
    <ContentType Key="3b9bab4e-fbd3-49a1-818f-c8c2af19ada7" SortOrder="1">slideshow</ContentType>
    <ContentType Key="887bdbe8-6801-4c30-b9f6-a21884c9c799" SortOrder="2">slideshowContainer</ContentType>
    <ContentType Key="5d7d4763-9fe0-422c-addf-5f7e29444746" SortOrder="3">search</ContentType>
    <ContentType Key="73221519-b646-468e-ab8f-498af78e1ae6" SortOrder="4">movies</ContentType>
    <ContentType Key="5339cedf-2b76-4beb-963a-46557be6a4b7" SortOrder="5">error</ContentType>
    <ContentType Key="0e2b22df-9a0e-45a7-8555-a785d43ecd00" SortOrder="6">sitemap</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f6830a6d-e798-41ba-b16f-84347a6e3d41</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>8dbf9f0e-abdc-4f79-9032-94f13ea848f0</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11741a11-eb1f-4e29-a8a3-60fbd1732845</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b28c2e80-f9e3-4c75-9005-80c17a082aa4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>