<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82bc4658-11d7-44c8-bbad-656ea8870523" Alias="MetaRobots - MetaRobots - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>MetaRobots - MetaRobots - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "INDEX, FOLLOW",
    "INDEX, NOFOLLOW",
    "NOINDEX, FOLLOW",
    "NOINDEX, NOFOLLOW"
  ]
}]]></Config>
</DataType>