<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dbf9f0e-abdc-4f79-9032-94f13ea848f0" Alias="Start - Content - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Start - Content - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "179a415e-7225-49ff-ac6b-a9256f4439fe",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>