<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49e0a464-6609-4b1e-bed5-50573a961b65" Alias="Start - Content - Content Picker Property Editor UI (2)" Level="1">
  <Info>
    <Name>Start - Content - Content Picker Property Editor UI (2)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "887bdbe8-6801-4c30-b9f6-a21884c9c799,9cdb51a2-bc32-4d05-adea-b33b88e2cd9b",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>