<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4f8c0bf-dff4-410e-8e85-f33ea575e3b6" Alias="Forrest" Level="3">
  <Info>
    <Parent Key="4d99ea45-ab17-4dc0-96d9-33bcc4bb440d">Slideshow Container</Parent>
    <Path>/Hem/SlideshowContainer/Forrest</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-09-29T14:20:25</CreateDate>
    <NodeName Default="Forrest">
      <Name Culture="sv">Forrest</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="a6330916-a3ce-4171-8eac-6807b54d5130">slideshowPage</Template>
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[Forrest]]></Value>
    </heading>
    <image>
      <Value><![CDATA[[
  {
    "key": "3bd09da6-0d53-4193-878d-790c3e55ac4e",
    "mediaKey": "802e9cd2-6a24-476a-98e5-17904145bdfb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "L\u00E4s om skogen",
    "target": null,
    "udi": null,
    "url": "https://www.skogsstyrelsen.se/skogensparlor#:~:text=Skogens%20p%C3%A4rlor.%20H%C3%A4r%20redovisas%20v%C3%A4rdefulla%20skogsmilj%C3%B6er%20och%20kulturl%C3%A4mningar%20i%20svenska",
    "queryString": null
  }
]]]></Value>
    </link>
    <text>
      <Value><![CDATA[A picture of a forrest in Sweden]]></Value>
    </text>
  </Properties>
</Content>