<?xml version="1.0" encoding="utf-8"?>
<Content Key="c66ae699-dd4e-4fe6-b30c-78019bcf6994" Alias="Inställningar" Level="2">
  <Info>
    <Parent Key="b1be2a23-e50a-4691-8a5c-2bdfdc7a7e8d">Hem</Parent>
    <Path>/Hem/Installningar</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-09-22T11:26:36</CreateDate>
    <NodeName Default="Inställningar">
      <Name Culture="en-US">Settings</Name>
      <Name Culture="sv">Inställningar</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkToSlideshow>
      <Value><![CDATA[umb://document/239399574efe47abb5ee4305a6e529b3]]></Value>
    </linkToSlideshow>
    <moviesContainer>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[umb://document/7af1ae7052cb44deac99630493cc25b5]]></Value>
    </moviesContainer>
  </Properties>
</Content>