<?xml version="1.0" encoding="utf-8"?>
<Content Key="d082ad85-48b7-417d-b2e1-9804c16a85fd" Alias="Jag och Johan" Level="3">
  <Info>
    <Parent Key="7af1ae70-52cb-44de-ac99-630493cc25b5">Filmer</Parent>
    <Path>/Hem/Filmer/JagOchJohan</Path>
    <Trashed>false</Trashed>
    <ContentType>savedMovie</ContentType>
    <CreateDate>2024-10-03T22:59:28</CreateDate>
    <NodeName Default="Jag och Johan">
      <Name Culture="sv">Jag och Johan</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="c029b66c-8d8f-4319-a655-46db82622410">savedMovie</Template>
  </Info>
  <Properties>
    <imdbId>
      <Value><![CDATA[tt1393825]]></Value>
    </imdbId>
  </Properties>
</Content>