<?xml version="1.0" encoding="utf-8"?>
<Content Key="9803375a-d856-465d-9a36-01afe742ea91" Alias="Jalla! Jalla!" Level="3">
  <Info>
    <Parent Key="7af1ae70-52cb-44de-ac99-630493cc25b5">Filmer</Parent>
    <Path>/Hem/Filmer/JallaJalla</Path>
    <Trashed>false</Trashed>
    <ContentType>savedMovie</ContentType>
    <CreateDate>2024-10-09T10:48:53</CreateDate>
    <NodeName Default="Jalla! Jalla!">
      <Name Culture="sv">Jalla! Jalla!</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="c029b66c-8d8f-4319-a655-46db82622410">savedMovie</Template>
  </Info>
  <Properties>
    <imdbId>
      <Value><![CDATA[tt0269389]]></Value>
    </imdbId>
  </Properties>
</Content>