<?xml version="1.0" encoding="utf-8"?>
<Content Key="29bb513b-ba55-4c16-afd9-21024a07fed5" Alias="Milkyway" Level="3">
  <Info>
    <Parent Key="23939957-4efe-47ab-b5ee-4305a6e529b3">Slideshow</Parent>
    <Path>/Hem/Slideshow/Milkyway</Path>
    <Trashed>false</Trashed>
    <ContentType>slide</ContentType>
    <CreateDate>2024-09-23T20:34:51</CreateDate>
    <NodeName Default="Milkyway">
      <Name Culture="sv">Milkyway</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ea70d9b7-1faa-46ff-b231-2ec5732c553e">slide</Template>
  </Info>
  <Properties>
    <heading>
      <Value Culture="sv"><![CDATA[Vintervägen]]></Value>
    </heading>
    <image>
      <Value><![CDATA[[
  {
    "key": "c56e6c47-9aa5-4306-96a5-12f962a0679d",
    "mediaKey": "a8e719cc-7c65-48c7-9394-9df7768d545b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "L\u00E4s mer om vinterv\u00E4gen",
    "target": null,
    "udi": "umb://media/a8e719cc7c6548c793949df7768d545b",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
    <text>
      <Value Culture="sv"><![CDATA[En underbar bild av Vintervägen]]></Value>
    </text>
  </Properties>
</Content>