<?xml version="1.0" encoding="utf-8"?>
<Content Key="33e45e4a-deb6-45a9-b196-b946ab5b5ec6" Alias="Mountains" Level="3">
  <Info>
    <Parent Key="23939957-4efe-47ab-b5ee-4305a6e529b3">Slideshow</Parent>
    <Path>/Hem/Slideshow/Mountains</Path>
    <Trashed>false</Trashed>
    <ContentType>slide</ContentType>
    <CreateDate>2024-09-26T18:35:57</CreateDate>
    <NodeName Default="Mountains">
      <Name Culture="sv">Mountains</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ea70d9b7-1faa-46ff-b231-2ec5732c553e">slide</Template>
  </Info>
  <Properties>
    <heading>
      <Value Culture="sv"><![CDATA[Bergstopp]]></Value>
    </heading>
    <image>
      <Value><![CDATA[[
  {
    "key": "039206c8-6371-4df0-be4a-52ef4f49c528",
    "mediaKey": "84eadcfb-d696-4960-a356-c19ca2a8fc3b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "L\u00E4s mer om de Italienska alperna",
    "target": null,
    "udi": "umb://media/84eadcfbd6964960a356c19ca2a8fc3b",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
    <text>
      <Value Culture="sv"><![CDATA[En vacker bild på de Italienska alperna]]></Value>
    </text>
  </Properties>
</Content>