<?xml version="1.0" encoding="utf-8"?>
<Content Key="c28a3296-6e03-4b08-8d60-d87c765fc336" Alias="SpaceInvaders" Level="3">
  <Info>
    <Parent Key="4d99ea45-ab17-4dc0-96d9-33bcc4bb440d">Slideshow Container</Parent>
    <Path>/Hem/SlideshowContainer/SpaceInvaders</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-09-29T14:19:23</CreateDate>
    <NodeName Default="SpaceInvaders">
      <Name Culture="sv">SpaceInvaders</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="a6330916-a3ce-4171-8eac-6807b54d5130">slideshowPage</Template>
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[Space invaders]]></Value>
    </heading>
    <image>
      <Value><![CDATA[[
  {
    "key": "aecbe31e-ed86-4f2c-8d25-85acb4a93557",
    "mediaKey": "18d48791-6559-4ffe-9fab-2789c2b78fe3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="sv"><![CDATA[[
  {
    "name": "L\u00E4s om rymden",
    "target": null,
    "udi": null,
    "url": "https://www.rymdstyrelsen.se/upptack-rymden/",
    "queryString": null
  }
]]]></Value>
    </link>
    <text>
      <Value><![CDATA[A picture of space]]></Value>
    </text>
  </Properties>
</Content>