<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5424fe3-23dd-4728-8cad-344c1aa47376" Alias="Terminator 2: Judgment Day" Level="3">
  <Info>
    <Parent Key="7af1ae70-52cb-44de-ac99-630493cc25b5">Filmer</Parent>
    <Path>/Hem/Filmer/Terminator2JudgmentDay</Path>
    <Trashed>false</Trashed>
    <ContentType>savedMovie</ContentType>
    <CreateDate>2024-10-04T09:36:35</CreateDate>
    <NodeName Default="Terminator 2: Judgment Day">
      <Name Culture="sv">Terminator 2: Judgment Day</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="c029b66c-8d8f-4319-a655-46db82622410">savedMovie</Template>
  </Info>
  <Properties>
    <imdbId>
      <Value><![CDATA[tt0103064]]></Value>
    </imdbId>
  </Properties>
</Content>