<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3965016-a81c-4216-a01d-7bd7a75c1911" Alias="The Terminator" Level="3">
  <Info>
    <Parent Key="7af1ae70-52cb-44de-ac99-630493cc25b5">Filmer</Parent>
    <Path>/Hem/Filmer/TheTerminator</Path>
    <Trashed>false</Trashed>
    <ContentType>savedMovie</ContentType>
    <CreateDate>2024-10-09T10:49:44</CreateDate>
    <NodeName Default="The Terminator">
      <Name Culture="sv">The Terminator</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="c029b66c-8d8f-4319-a655-46db82622410">savedMovie</Template>
  </Info>
  <Properties>
    <imdbId>
      <Value><![CDATA[tt0088247]]></Value>
    </imdbId>
  </Properties>
</Content>